pip install numpy==1.16.6
pip install scipy==1.4.1
pip install pillow
pip install opencv-python
pip install imageio
pip install lz4
pip install tqdm
pip install adbutils==0.11.0
pip install uiautomator2==2.16.17
pip install retrying
pip install mxnet==1.6.0
pip install cnocr==1.2.2
pip install jellyfish
pip install pyyaml
pip install inflection
pip install pywebio==1.6.2
pip install starlette==0.14.2
pip install anyio==1.3.1
pip install uvicorn[standard]==0.17.6
pip install aiofiles
pip install wrapt==1.13.1
pip install prettytable==2.2.1
pip install pypresence==4.2.1
pip install alas-webapp==0.3.7
pip install rich==11.2.0
pip install zerorpc==0.6.3
pip install pyzmq==22.3.0
pip install onepush